
*.xcuserstate

BFGallery/BFGallery.xcodeproj/xcuserdata/darioalessandro.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

BFGallery/BFGallery.xcodeproj/xcuserdata/darioalessandro.xcuserdatad/xcschemes/BFGallery.xcscheme

BFGallery/BFGallery.xcodeproj/xcuserdata/darioalessandro.xcuserdatad/xcschemes/xcschememanagement.plist
