<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>menu</key>
	<array>
		<dict>
			<key>CategoryName</key>
			<string>Sushi labs</string>
			<key>Dishes</key>
			<array>
				<dict>
					<key>Description</key>
					<string></string>
					<key>FileName</key>
					<string>foto.png</string>
					<key>Thumbnail</key>
					<string>foto.png</string>
					<key>Name</key>
					<string>Bora Bora Roll</string>
				</dict>
				<dict>
					<key>Description</key>
					<string></string>
					<key>FileName</key>
					<string>foto.png</string>
					<key>Thumbnail</key>
					<string>foto.png</string>
					<key>Name</key>
					<string>Bora Bora Roll</string>
				</dict>
				<dict>
					<key>Description</key>
					<string></string>
					<key>FileName</key>
					<string>foto.png</string>
					<key>Thumbnail</key>
					<string>foto.png</string>
					<key>Name</key>
					<string>Bora Bora Roll</string>
				</dict>
				<dict>
					<key>Description</key>
					<string></string>
					<key>FileName</key>
					<string>foto.png</string>
					<key>Thumbnail</key>
					<string>foto.png</string>
					<key>Name</key>
					<string>Bora Bora Roll</string>
				</dict>
				<dict>
					<key>Description</key>
					<string></string>
					<key>FileName</key>
					<string>foto.png</string>
					<key>Thumbnail</key>
					<string>foto.png</string>
					<key>Name</key>
					<string>Bora Bora Roll</string>
				</dict>
				<dict>
					<key>Description</key>
					<string></string>
					<key>FileName</key>
					<string>foto.png</string>
					<key>Thumbnail</key>
					<string>foto.png</string>
					<key>Name</key>
					<string>Bora Bora Roll</string>
				</dict>
				<dict>
					<key>Description</key>
					<string></string>
					<key>FileName</key>
					<string>foto.png</string>
					<key>Thumbnail</key>
					<string>foto.png</string>
					<key>Name</key>
					<string>Bora Bora Roll</string>
				</dict>
				<dict>
					<key>Description</key>
					<string></string>
					<key>FileName</key>
					<string>foto.png</string>
					<key>Thumbnail</key>
					<string>foto.png</string>
					<key>Name</key>
					<string>Bora Bora Roll</string>
				</dict>
				<dict>
					<key>Description</key>
					<string></string>
					<key>FileName</key>
					<string>foto.png</string>
					<key>Thumbnail</key>
					<string>foto.png</string>
					<key>Name</key>
					<string>Bora Bora Roll</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
